body {
    font-family: sans-serif;
}

header {
    background-color:#00B454;
    padding:5px;
}

header img {
    width:35px;
    height:30px;
}

nav {
    margin-top:10px;
    margin-left:70px;
}
nav a {
    background-color:#36DA82;
    color:white;
    padding:5px;
    margin-left:40px;
}

h1 {
    text-align:center;
}

h2 {
    margin-left:10px;
    margin-right:10px;
}

main img {
    width:140px;
    height:90px;
    margin-left:20px;
}

p {
    margin-left:15px;
}

.text {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left:15px;
    margin-right:15px;
}

.pictures {
    margin-left:15px;
}


footer {
    padding:15px;
    background-color:#00B454;
}

footer p{
    margin:0;
}

.tel {
    margin-top:10px;
}

li {
    font-size:17px;
    list-style: url(https://github.com/queso65/lesson-for-children-4/blob/main/result_pngegg.png?raw=true
)
}

